@mixin flex($direction:column, $justify:center, $align:center, $gap: 0px) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

@mixin padding($left:0,$top:0, $right:$left,  $bottom:$top) {
  padding-left: $left;
  padding-right: $right;
  padding-top: $top;
  padding-bottom: $bottom;
}

@mixin text-shadow($top, $left, $blur, $color) {
  text-shadow: $top $left $blur $color;
}

@mixin radius($topLeft:0px, $topRight: $topLeft, $bottomLeft: $topLeft, $bottomRight: $topLeft) {
  border-top-left-radius: $topLeft;
  border-top-right-radius: $topRight;
  border-bottom-left-radius: $bottomLeft;
  border-bottom-right-radius: $bottomRight;
}

@mixin fontSize($n) {
  @for $i from 1 through $n {
    .font-#{$i}x {
      font-size: 10px * $i;
    }
  }
}

@mixin slider($sliderBodyBg,$sliderThumbBg) {
  &.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: $sliderBodyBg;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }

  &.slider:hover {
    opacity: 1;
  }

  &.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: $sliderThumbBg;
    cursor: pointer;
    transition: scale 500ms ease;
    @include radius(50%);
    &:hover {
      scale: 1.5;
    }
  }

  &.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: $sliderThumbBg;
    cursor: pointer;
    transition: scale 500ms ease;
    @include radius(50%);
    &:hover {
      scale: 1.5;
    }
  }
}

@mixin max-width($maxWidth,$width:100%) {
  max-width: $maxWidth;
  width: $width;
}
