$primary-color: #432F75;
$dark-primary-color: #15063A;
$light-primary-color: #897BAF;
$white: #efefef;
$gray: #ababab;
$black: #1a1a1a;
$container-bg: #cdcdcd;

$max-container-width: 1000px;
$container-radius: 5px;
$progress-bar-height: 10px;


$header-height: 150px;
$header-top-padding:10px;
$footer-height: 50px;
$main-height: calc(100vh - $header-height - $footer-height - 2*$header-top-padding);


$tablet: 768px;
$mobile: 480px;
$mobile-small: 320px;
